<div *ngIf="!loading && studentAnswer.length === 0 && !workMode " class="cover__div">
	<h1>{{ testwork.title }}</h1>
	<p *ngIf="timeRestriction">This test lasts {{ timeRestriction }}</p>
	<p *ngIf="!timeRestriction">This test has no time restriction</p>

	<p>Deadline: {{ testwork.deadline.slice(0, 16) | date: 'dd MMMM yyyy  \'at\' hh:mm' }}</p>
	<button [disabled]="!available" class="start__btn" (click)="startTheTest()">Start</button>
</div>
<div  *ngIf="!loading && studentAnswer.length !== 0 " class="answers__div">
	<h1 style="text-align: center;">{{ testwork.title }}</h1>
	<div *ngFor="let answer of studentAnswer" class="answers__list">
		<h3 class="question2__h3">
			<span *ngIf="answer.points || answer.points === 0" class="points__span">points: {{  answer.points }}  / {{ answer.question.points }}</span>
			<span *ngIf="!answer.points && answer.points !== 0" class="pending__span">pending</span>
			{{ answer.question.title }}</h3>

		<div class="choice__list" *ngIf="!answer.question.e && answer.question.a">
			<div class="choice__div">
				<p [ngClass]="{'correct__choice': (answer.question.answer === 'a'), 'wrong__choice': answer.studentAnswer === 'a' && answer.points === 0}">a</p>
				{{ answer.question.a }}
			</div>
			<div class="choice__div">
				<p [ngClass]="{'correct__choice': (answer.question.answer === 'b'), 'wrong__choice': answer.studentAnswer === 'b' && answer.points === 0}">b</p>
				{{ answer.question.b }}
			</div>
			<div class="choice__div">
				<p [ngClass]="{'correct__choice': (answer.question.answer === 'c'), 'wrong__choice': answer.studentAnswer === 'c' && answer.points === 0}">c</p>
				{{ answer.question.c }}
			</div>
			<div class="choice__div">
				<p [ngClass]="{'correct__choice': (answer.question.answer === 'd'), 'wrong__choice': answer.studentAnswer === 'd' && answer.points === 0}">d</p>
				{{ answer.question.d }}
			</div>
			
		</div>

		<div class="choice__list" *ngIf="answer.question.e">
			<div class="choice__div2">
				<p 
					[ngClass]="{
					'correct__choice': answer.question.answers.a === true ,
					'wrong__choice': answer.studentAnswer.a === true && answer.question.answers.a === false,
					'correct__choice__unchecked': answer.studentAnswer.a === false && answer.question.answers.a === true  }"
					disabled>a</p>
				<span
					[ngClass]="{
					'correct__choice_span': answer.studentAnswer.a === true && answer.question.answers.a === true,
					'wrong__choice_span': answer.studentAnswer.a === true && answer.question.answers.a === false } ">
				{{ answer.question.a }}</span>
			</div>
			<div class="choice__div2">
				<p 
					[ngClass]="{
					'correct__choice': answer.question.answers.b === true ,
					'wrong__choice': answer.studentAnswer.b === true && answer.question.answers.b === false }"
					disabled>b</p>
				<span
					[ngClass]="{
					'correct__choice_span': answer.studentAnswer.b === true && answer.question.answers.b === true,
					'wrong__choice_span': answer.studentAnswer.b === true && answer.question.answers.b === false } ">
				{{ answer.question.b }}</span>
			</div>
			<div class="choice__div2">
				<p 
					[ngClass]="{
					'correct__choice': answer.question.answers.c === true ,
					'wrong__choice': answer.studentAnswer.c === true && answer.question.answers.c === false }"
					disabled>c</p>
				<span
					[ngClass]="{
					'correct__choice_span': answer.studentAnswer.c === true && answer.question.answers.c === true,
					'wrong__choice_span': answer.studentAnswer.c === true && answer.question.answers.c === false } ">
				{{ answer.question.c }}</span>
			</div>
			<div class="choice__div2">
				<p 
					[ngClass]="{
					'correct__choice': answer.question.answers.d === true ,
					'wrong__choice': answer.studentAnswer.d === true && answer.question.answers.d === false }"
					disabled>d</p>
				<span
					[ngClass]="{
					'correct__choice_span': answer.studentAnswer.d === true && answer.question.answers.d === true,
					'wrong__choice_span': answer.studentAnswer.d === true && answer.question.answers.d === false } ">
				{{ answer.question.d }}</span>
			</div>
			<div class="choice__div2">
				<p 
					[ngClass]="{
					'correct__choice': answer.question.answers.e === true ,
					'wrong__choice': answer.studentAnswer.e === true && answer.question.answers.e === false }"
					disabled>e</p>
				<span
					[ngClass]="{
					'correct__choice_span': answer.studentAnswer.e === true && answer.question.answers.e === true,
					'wrong__choice_span': answer.studentAnswer.e === true && answer.question.answers.e === false } ">
				{{ answer.question.e }}</span>
			</div>
			<div class="choice__div2">
				<p
					[ngClass]="{
					'correct__choice': answer.question.answers.f === true ,
					'wrong__choice': answer.studentAnswer.f === true && answer.question.answers.f === false }"
					disabled>f</p>
				<span
					[ngClass]="{
					'correct__choice_span': answer.studentAnswer.f === true && answer.question.answers.f === true,
					'wrong__choice_span': answer.studentAnswer.f === true && answer.question.answers.f === false } ">
				{{ answer.question.f }}</span>
			</div>
		</div>

		<div *ngIf="!answer.question.a">
			
			<div *ngIf="answer.points === 0">
				<div class="wrong_answ__div">
					Your answer: {{  answer.studentAnswer }}
				</div>
				<div class="correct_answ__div">
					Correct answer: {{  answer.question.answer }}
				</div>
			</div>
			<div class="correct_answ__div" *ngIf=" answer.points !== 0">
				Correct answer: {{  answer.question.answer }}
			</div>
		</div>
	</div>
</div>

<div *ngIf="!loading && workMode && available" class="main__div">
	<div class="question__div" >
		<h3 class="question__h3"><span class="points__span">points: {{ testwork.questions[currentQuestionId].points }}</span>{{ testwork.questions[currentQuestionId].title }}</h3>
		<div 
			*ngIf="testwork.questions[currentQuestionId].a && !testwork.questions[currentQuestionId].e">
			<div 
				class="choice__div" 
				(click)="addAnswer('a')">
				<p 
					[ngClass]="answers[currentQuestionId] === 'a' && {'active__choice': true}">a</p>
				{{ testwork.questions[currentQuestionId].a }}
			</div>
			<div 
				class="choice__div" 
				(click)="addAnswer('b')">
				<p 
					[ngClass]="answers[currentQuestionId] === 'b' && {'active__choice': true}">b</p>
				{{ testwork.questions[currentQuestionId].b }}
			</div>
			<div 
				class="choice__div" 
				(click)="addAnswer('c')">
				<p 
					[ngClass]="answers[currentQuestionId] === 'c' && {'active__choice': true}">c</p>
				{{ testwork.questions[currentQuestionId].c }}
			</div>
			<div 
				class="choice__div" 
				(click)="addAnswer('d')">
				<p 
					[ngClass]="answers[currentQuestionId] === 'd' && {'active__choice': true}">d</p>
				{{ testwork.questions[currentQuestionId].d }}
			</div>
			<button 
				class="start__btn" 
				type="button" 
				(click)="currentQuestionId = currentQuestionId + 1"
				*ngIf="testwork.questions.length > currentQuestionId+1"
				>Next</button>
		</div>
		<form 
			[formGroup]="answersForm" 
			class="choice__list" 
			*ngIf="testwork.questions[currentQuestionId].e">
			<div class="choice__div">
				<input 
					[checked]="answers[currentQuestionId] && answers[currentQuestionId].a === true ? 'checked' : ''" 
					id="a__answ" 
					type="checkbox"

					formControlName="a"
					>
				<label id="a__answ" for="a__answ">a) {{ testwork.questions[currentQuestionId].a }}</label>
				
			</div>
			<div class="choice__div">
				<input 
					[checked]="answers[currentQuestionId] && answers[currentQuestionId].b === true ? 'checked' : ''" 
					type="checkbox"
					id="b__answ" 
					formControlName="b">
				<label id="b__answ" for="b__answ">b) {{ testwork.questions[currentQuestionId].b }}</label>
				
			</div>
			<div class="choice__div">
				<input 
					[checked]="answers[currentQuestionId] && answers[currentQuestionId].c === true ? 'checked' : ''" 
					id="c__answ" 
					type="checkbox"
					formControlName="c">
				<label id="c__answ" for="c__answ">c) {{ testwork.questions[currentQuestionId].c }}</label>
				
			</div>
			<div class="choice__div">
				<input 
					[checked]="answers[currentQuestionId] && answers[currentQuestionId].d === true ? 'checked' : ''" 
					id="d__answ" 
					type="checkbox"
					formControlName="d">
				<label id="d__answ" for="d__answ">d) {{ testwork.questions[currentQuestionId].d }}</label>
				
			</div>
			<div class="choice__div">
				<input 
					[checked]="answers[currentQuestionId] && answers[currentQuestionId].e === true ? 'checked' : ''" 
					id="e__answ" 
					type="checkbox"
					formControlName="e">
				<label id="e__answ" for="e__answ">e) {{ testwork.questions[currentQuestionId].e }}</label>
				
			</div>
			<div class="choice__div">
				<input 
					[checked]="answers[currentQuestionId] && answers[currentQuestionId].f === true ? 'checked' : ''" 
					id="f__answ" 
					type="checkbox"
					formControlName="f">
				<label id="f__answ" for="f__answ">f) {{ testwork.questions[currentQuestionId].f }}</label>
				
			</div>
			<!-- (click)="addAnswers({'a':a_answ, 'b':b_answ, 'c':c_answ, 'd':d_answ, 'e':e_answ, 'f':f_answ})" -->
			<button 
				class="start__btn" 
				type="button" 
				(click)="addAnswers()"
				*ngIf="testwork.questions.length > currentQuestionId+1"
				>Next</button>
		</form>

		<form 
			*ngIf="!testwork.questions[currentQuestionId].a" 
			[formGroup]="answerForm" >
			<textarea 
				formControlName="answer" 
				name="answer" 
				placeholder="write your answer here"
				style="display: block"></textarea>
			<button 
				class="start__btn" 
				type="button"
				(click)="addWrittenAnswer()" 
				*ngIf="testwork.questions.length > currentQuestionId+1"
				>Next</button>
		</form>

		
		<button 
			class="start__btn" 
			type="button" 
			*ngIf="testwork.questions.length === currentQuestionId+1"
			(click)="saveTest()"
			>Save</button>

	</div>

	<div class="menu__div">
		<p *ngIf="timerVal" class="timer__p">{{ timerVal  }}</p>

		<p [ngClass]="{'active__num': currentQuestionId === i, 'filled__num': answers[i] && answers[i] !== null && answers[i] !== '' }" class="question__num" *ngFor="let t of testwork.questions; let i = index" (click)="goToQuestion(i)">{{ i + 1 }}</p>


	</div>
	

</div>
