
<div class="editDiv"> 
	
<div class="container" >
	<div style="display: flex">
		<button (click)="change('b')">bold</button>
		<button (click)="change('em')">italic</button>
		<button (click)="add('ul')">bulleted list</button>
		<button (click)="add('ol')">numbered list</button>

	</div>
	
	<div 
		#container
		id="article" 
		class="article" 
		(input)="article = $event.target.innerText"
		name="article" 
		contenteditable="true">
	    <ul>
	        <li>List item</li>
	        <li>List item</li>
	    </ul>
	    <h1>ag</h1>
	</div>

	{{article}}
</div>

</div>