
<div class="editDiv" > 

<!-- [@errorState]="deleteCourseState"  -->
<div style="z-index: 7" [@popupState]="popupState" class="delete__div">
	<div class="delete__alert-box">
		<h1 *ngIf="!articleValue">Are you sure you want to exit ? This Post will not be saved.</h1>
		<h1 *ngIf="articleValue">Are you sure you want to exit ? Changes will not be saved.</h1>

		<div class="delete__btns">
			<button (click)="exit()" class="yes__btn">Yes</button>
			<button (click)="closePopup()">No</button>
		</div>
	</div>
</div>

<div  (click)="showExitPopup()" class="backdrop" style="z-index: 5"></div>


<form style="z-index: 6" class="container" [formGroup]="articleForm">
	<div >
		<label for="title">Title</label>
		<input 
			id="title" 
			required
			type="text" 
			placeholder="article title"
			formControlName="title">
	</div>
	
	
	<div class="article__div">
		<div class="buttons">
			<button (click)="change('bold')"><fa-icon [icon]="boldIcon"></fa-icon></button>
			<button (click)="change('italic')"><fa-icon [icon]="italicIcon"></fa-icon></button>
			<button (click)="change('underline')"><fa-icon [icon]="underIcon"></fa-icon></button>

			<div>
				<button (click)="resize(-1)"><fa-icon style="font-size: 14px" [icon]="sizeIcon"></fa-icon></button>
				<button (click)="resize(1)"><fa-icon [icon]="sizeIcon"></fa-icon></button>
			</div>
			
			<div>
				<button (click)="change('justifyLeft')"><fa-icon [icon]="leftIcon"></fa-icon></button>
				<button (click)="change('justifyCenter')"><fa-icon [icon]="centerIcon"></fa-icon></button>
				<button (click)="change('justifyRight')"><fa-icon [icon]="rightIcon"></fa-icon></button>
			</div>
			
			<div>
				<button (click)="change('insertUnorderedList')"><fa-icon [icon]="ulIcon"></fa-icon></button>
				<button (click)="change('insertOrderedList')"><fa-icon [icon]="olIcon"></fa-icon></button>

			</div>
			
			<button (click)="change('removeFormat')"><fa-icon [icon]="redoIcon"></fa-icon></button>
			

		</div>
		
		<div 
			id="article" 
			class="article" 
			(input)="article = $event.target.innerHTML"
			name="article" 
			contenteditable="true"
		>
		    
		</div>
	</div>

	<button 
		[disabled]="!articleForm.valid"
		class="save__btn" 
		type="submit" 
		(click)="createArticle()">Save</button>

</form>

</div>