* {
	box-sizing: border-box;
}

textarea {
	width: 90%;
	height: 70%;
	resize: none;
}

fa-icon {
	font-size: 18px;
}

.buttons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 55px;
	background-color: #F2F2F2;
}

.buttons button {
	/*width: 8%;*/
	height: 30px;
	width: 40px;
	background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    color: grey;
    outline: none;
}

.buttons button:active {
	outline: none;
	color: black;
	border: 1px solid black;
}

.article {
	/*width: 90%;*/
	height: 100%;
	border: 2px solid #F2F2F2;
	padding: 10px;
	/*white-space: pre;*/
	overflow-y: scroll;
}

.editDiv {
	position: absolute;
	width: 100vw; 
	height: 100vh;
	display: grid; 
	grid-auto-flow: column;
	justify-content: center; 
	align-items: center; 
	justify-items: center;
}

.container {
	border-radius: 20px;
	box-shadow: 0 0 12px white;
	margin-bottom: 1rem; 
	grid-column-start: col-2-start 1;
	grid-row-start: row-start 1;
	display: flex; 
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	margin-right: 20px;
	position: absolute;
	/*width: 60vw;*/
	width: 70%;
	/*height: 90vh;*/
	max-width: 900px;
	/*min-width: 600px;*/
	height: 630px;

	z-index: 100;
}
