<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<app-header></app-header>

<app-add-assignment [topicAndParent]="assignmentTopicIdAndParent" *ngIf="addAssignment"></app-add-assignment>

<app-add-post [topicId]="postTopicId" [courseId]="course._id" *ngIf="addPost"></app-add-post>

<app-add-article [topicId]="articleTopicId" [courseId]="course._id" *ngIf="addArticle"></app-add-article>


<!-- <div class="backdrop" *ngIf="addAssignment" (click)="addAssignment = false"></div> -->

<div class="backdrop" *ngIf="addAssignment || addPost || addArticle" (click)="addAssignment = false; addPost = false; addArticle = false"></div>

<body id="main2" *ngIf="!loading">
	<div [hidden]="deleteCourseState === 'hidden'" class="backdrop"></div>
	<div [@errorState]="deleteCourseState" class="delete__div">
		<div class="delete__alert-box">
			<h1>Are you sure you want to delete this course ?</h1>
			<div class="delete__btns">
				<button (click)="deleteCourse()" class="yes__btn">Yes</button>
				<button (click)="showDeleteCourse()">No</button>
			</div>
		</div>
	</div>
	
	<div *ngIf="!editMode" class="main__div">
		<div class="main__div-title">
			<h1>{{course.title}}</h1>
			
		</div>
		<div class="main__div-descr">
			<button class="edit__btn" *ngIf="userType === 'teacher'" (click)="switchToEditMode()">Edit</button>
		</div>
	</div>

	<form *ngIf="editMode && userType === 'teacher'" class="main__div-edit" [formGroup]="editForm" (ngSubmit)="updateCourse()" action="">

	<div [@errorState]="errorState" class="errorsDiv">
		<h3 class="errorTitle">Error</h3>
		<div *ngFor="let error of errors" class="errorDiv">{{ error.msg }}</div>
	</div>

		<div class="main__div-edit-inputs">
    		<label for="title">Title</label>
			<input             
				type="text"
	        	id="title"
	        	formControlName="title">
	        <label for="key">Key</label>
	        <input             
				type="text"
	        	id="key"
	        	formControlName="key" class="key__input">
			
			<div class="hidden__div">
				<label 
				class="hidden__label" 
				for="hide">opened</label>
				<input 
					type="checkbox"
					class="hidden__input"
					id="hide"
					name="opened"
					formControlName="opened"
					>
			</div>
			<label for="key">Field</label>
			<div>
				<input 
				type="text" 
				list="fieldName" 
				name="fieldName"
				placeholder="select field"
				formControlName="field"
				/>
				

				<datalist id="fieldName">
				  <option *ngFor="let field of fields" >{{ field.name }}</option>
				</datalist> 
			</div> 
			
	        <label for="description">Description</label>
	        <textarea 
				type="text"
	        	id="description"
	        	formControlName="description"></textarea>

	        <button type="button" class="delete__btn" (click)="showDeleteCourse()">Delete course</button>
            <div>
	        	<button class="edit__btn" type="submit">Submit</button><button style="margin-left: 10px;" class="edit__btn" (click)="switchToEditMode()">Back</button>
	        </div>	
		</div>
	</form>
	

	<div class="main__links">
		<p  routerLink="main"  class="main__link-one" routerLinkActive="main__link-two">main</p>
		<p routerLink="students" routerLinkActive="main__link-two" class="main__link-one" >students</p>
		<p routerLink="add-student" routerLinkActive="main__link-two" class="main__link-one" *ngIf="userType === 'teacher'">add student</p>
		<p routerLink="gradebook" routerLinkActive="main__link-two" class="main__link-one" *ngIf="userType === 'student'">gradebook</p>
		<p routerLink="student-requests" routerLinkActive="main__link-two" class="main__link-one" *ngIf="userType === 'teacher'">requests</p>
	</div>
</body>
<router-outlet ></router-outlet>
</html>