<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<button *ngIf="editTestwork" (click)="deleteTest()" class="delete__btn" type="button">
		Delete test
	</button>
	<form action="" [formGroup]="createForm" (ngSubmit)="saveTestwork()">
		<div class="main__head">
			<div class="main__inputs">
				<div class="label__div">
					<label for="title">Title</label>
					<input 
					id="title" 
					class="main__input" 
					type="text" 
					formControlName="title"
					required>
				</div>
				<div class="label__div">
					<label for="deadline">Deadline</label>
					<input 
					id="deadline" 
					class="main__input" 
					type="datetime-local" 
					formControlName="deadline"
					required>
				</div>
			</div>
			<div class="hidden__input">
				<label for="hide">hidden</label>
				<input formControlName="hidden" id="hide" name="hide" type="checkbox">
			</div>
			
		</div>

		<div class="lower__div">
			<div class="time__div">
				<div class="hour__div">
					<label for="hours">Hours</label>
					<input formControlName="hours" id="hours" min="0" type="number">
				</div>
				<div class="minute__div">
					<label for="minutes">Minutes</label>
					<input formControlName="minutes" id="minutes" min="0" type="number" >
				</div>
				<div class="minute__div">
					<label for="minutes">Max tries</label>
					<input formControlName="tries" id="tries" min="1" type="number" >
				</div>
			</div>
			
			<div class="main-btns__div">
				<button type="button" (click)="onAddTestQuestion()">test question</button>
				<button type="button" (click)="onAddQuestion()">regular question</button>
				<button type="button" (click)="onAddChoiceQuestion()">multiple choice question</button>
			</div>		
		</div>
		
		
		<div 
			formArrayName="testQuestions" 
			*ngFor="let questionControl of createForm.get('testQuestions').controls;let i = index">
			<hr color="#d4d4d4">
			<div *ngIf="questionControl.controls.a" class="question__div"  [formGroupName]="i">	
				<p class="question__num__p">{{ i+1 }}</p>
				<button (click)="removeQuestion(i)" class="delete__btn" type="button">
					<fa-icon class="trash__icon" [icon]="trashIcon"></fa-icon>
					Delete
				</button>
				<div class="question__input__div">
					<label for="question">Question</label>
					<input 
						id="question" 
						placeholder="question text"
						type="text" 
						class="question" 
						formControlName="title"
						required>
				</div>
				<div class="options">
					<div class="options__div">
						<div>
							<input *ngIf="questionControl.controls.answers" type="checkbox">
							<label for="a">a)</label>
							<input 
								id="a" 
								class="main__input2"  
								type="text" 
								formControlName="a"
								placeholder="option a">
						</div>
						<div>
							<input *ngIf="questionControl.controls.answers" type="checkbox">
							<label for="b">b)</label>
							<input 
								id="b" 
								type="text"
								class="main__input2" 
								formControlName="b"
								placeholder="option b">
						</div>
					</div>	
					<div class="options__div">
						<div>
							<input *ngIf="questionControl.controls.answers" type="checkbox">
							<label for="c">c)</label>
							<input 
								id="c" 
								type="text" 
								class="main__input2" 
								formControlName="c"
								placeholder="option c">
						</div>
						<div>
							<input *ngIf="questionControl.controls.answers" type="checkbox" >
							<label for="d">d)</label>
							<input 
								id="d" 
								type="text" 
								class="main__input2" 
								formControlName="d"
								placeholder="option d">
						</div>	
					</div>
					<div class="options__div" *ngIf="questionControl.controls.answers">
						<div>
							<input *ngIf="questionControl.controls.answers" type="checkbox" >
							<label for="e">e)</label>
							<input 
								id="e" 
								type="text" 
								class="main__input2" 
								formControlName="e"
								placeholder="option e">
						</div>
						<div>
							<input *ngIf="questionControl.controls.answers" type="checkbox" >
							<label for="f">f)</label>
							<input 
								id="f" 
								type="text" 
								class="main__input2" 
								formControlName="f"
								placeholder="option f">
						</div>	
					</div>
				</div>
				<div style="display: flex; align-items: center; width: 70%; justify-content: space-around;">
					<div *ngIf="questionControl.controls.answer">
						<label for="answer">Answer</label>
						<select 
							type="text" 
							id="answer" 
							class="answer" 
							formControlName="answer">
							<option value="a">a</option>
							<option value="b">b</option>
							<option value="c">c</option>
							<option value="d">d</option>
						</select>
					</div>

					<div class="points__div">		
						<label for="answer">Max points</label>
						<input 
							id="answer" 
							placeholder="max"
							type="number" 
							class="question" 
							formControlName="points"
							min="1"
							required>
					</div>
				</div>
				
			</div>
			<div *ngIf="!questionControl.controls.a" [formGroupName]="i" class="regular__question__div">
				<p class="question__num__p">{{ i+1 }}</p>
				<button (click)="removeQuestion(i)" class="delete__btn" type="button">
					<fa-icon class="trash__icon" [icon]="trashIcon"></fa-icon>
					Delete
				</button>
				<div class="question__input__div">
					<label for="question">Question</label>
					<input 
						id="question" 
						placeholder="question text"
						type="text" 
						class="question" 
						formControlName="title">
				</div>
				<div class="question__input__div">
					<label for="answer">Answer</label>
					<input 
						id="answer" 
						placeholder="answer text"
						type="text" 
						class="question" 
						formControlName="answer">

				</div>
				<div class="question__input__div">
					<div class="points__div">		
						<label for="answer">Max points</label>
						<input 
							id="answer" 
							placeholder="max"
							type="number" 
							class="question" 
							formControlName="points"
							min="1"
							required>
					</div>
					<div class="hidden__input">		
						<label for="autoCheck">Automatic check</label>
						<input 
							formControlName="autoCheck" 
							id="autoCheck" 
							name="autoCheck" 
							type="checkbox">
					</div>
				</div>
			</div>
			
		</div>
		
<!-- 		<div formArrayName="regularQuestions" *ngFor="let questionControl of createForm.get('regularQuestions').controls;let i = index">

			<hr color="#d4d4d4">
		</div> -->
		<button *ngIf="!editTestwork" [disabled]="!createForm.valid" class="create__btn" id="create__btn" type="submit">
			Create
		</button>
		<button *ngIf="editTestwork" [disabled]="!createForm.valid" class="create__btn" id="create__btn" type="submit">
			Update
		</button>
	</form>
	
</body>
</html>