body {
	margin-top: 3rem;
	padding-left: 4%;
}

.scroll__div {
	display: inline-block;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
}

.scroll__btn, .delete__icon, 
.edit__icon, .add-before__btn, 
.add-assignment__btn, .add-post__btn, 
.add-test__btn, .edit-test__btn {
	background-color: transparent;
	border: 0;
	outline: none;
}

.scroll__btn {
	margin: 0.1rem;
	font-size: 32px;
	color: #687cf7;
}

.hidden__span {
	color: #bababa;
}

.delete__icon, .edit__icon {
	margin-left: 1rem;
	font-size: 25px;
	
}

.add-before__btn, 
.add-assignment__btn, 
.add-post__btn, 
.add-test__btn, 
.edit-test__btn {
	cursor: pointer;
	border-radius: 10px;
	padding: 4px 6px;
	font-size: 12px;
	text-transform: uppercase;
	margin-right: 10px;
}

.teacher__btns  {
	display: flex; 
	align-items: center;
}

.add-before__btn {
	margin-bottom: 5px;
	border: 1px solid #687cf7;
	color:#687cf7;
}

.add-assignment__btn, .add-post__btn, .add-test__btn, .edit-test__btn {
	margin-left: 15px;
	color: white;
}
.edit-test__btn {
	background-color: #acbf45;
}

.add-assignment__btn {
	background-color: #35cc3d;
}

.add-post__btn {
	background-color: #3247c9;
}

.add-test__btn {
	background-color: #EC6A4E;
}

.add-before__btn:active {
	background-color:  #687cf7;
	color: white;
}

.scroll__btn:active {
	color: #8c9cff; 
} 


.delete__icon {
	color: #d6473e;
}

.edit__icon {
	color: #fcd12a;
}

.delete__icon:active {
	color: #f5928c; 
} 

.edit__icon:active {
	color: #fcf4a3; 
} 


.title__input {
	height: 30px;
	width: 270px;
	min-width: 240px;
	min-height: 40px;

	border-radius: 17px;
	border: 1px solid #00b5d4;
	box-shadow: 0 0 7px #00b5d4;
	font-size: 20px;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	padding-left: 12px;
	margin-right: 2rem;
	display: inline;
}

.hidden__input {
	width: 20px;
	height: 20px;
}

.hidden__label {
	margin-left: 0.5rem;
}

.hidden__div {
	display: inline;
    display: flex;
    align-items: center;
    margin-top: 1rem;

}

input.ng-touched.ng-invalid {
	border: 1px solid red;
	box-shadow: 0 0 7px red;
}

.topic__btn, .back__btn, .new-topic__btn {
	height: 2.5rem;
	border-radius: 20px;
	text-transform: uppercase;
	border: 0;
	outline: none;
	color: white;
	margin: 1rem 0;

}

.topic__btn {
	background-color: #0b7ace;
	width: 8rem;
}

.back__btn {
	background-color: #b5b5b5;
	width: 5rem;
	margin-left: 1rem;
}

.new-topic__btn {
	background-color: #0b7ace;
	width: 7rem;
}

.topic__btn:active, .new-topic__btn:active {
	background-color: #26a2ff;
}

.back__btn:active {
	background-color: #dedede;
}


.topic__btn:disabled {
	background-color: #b6cdde;
}

.topics__div {
	padding-left: 20px;
	display: flex;
	align-items: center;
	background-color: #f8f8f8;
	width: 90%;
	border-radius: 4px;
}

.title__p {
	font-size: 23px;
}

.date__p {
	font-size: 14px;
	padding-left: 20px;
	margin-top: 20px;
	vertical-align: bottom;
}

.assignments__div {
	margin: 1rem 3rem;
}

.assignment__title {
	padding-left: 20px;
	font-size: 18px;
	outline: none;
	cursor: pointer;
}
.assignment__title:hover {
	color: #8a8a8a;
}
.assignment__title:active {
	color: #5c5c5c;
}

.pdf__icon, 
.word__icon, 
.link__icon, 
.file__icon, 
.test__icon, 
.powerpoint__icon,
.article__icon { 
	font-size: 25px;
}

.article__icon {
	margin-right: 10px;
}

.minus__icon {
	font-size: 20px;
	padding-left: 10px;
	color: #e37878;
}

.minus__icon:active {
	color: #ffc7c7;
}

.file__icon {
	color: #4e4e4e;
}



.test__icon {
	color: #9BDE00;
}

.link__icon__title {
	padding-left: 9px;

}

.powerpoint__icon {
	color: #d14523;
}

.pdf__icon {
	color: #B30C02;
}

.word__icon {
	color: #4d799c;
}

.link__icon {
	color: #424236;
}

.assignment__div {
	margin: 10px 0;
}

.nothing__p {
	font-size: 16px;
	margin: 1.5rem 3rem;
}


.topic__div {
	margin-bottom: 3rem;
	min-width: 365px;
}
@media screen and (min-width: 600px) {
	form {
		display: flex;
		align-items: center;
	}
	.title__p {
		font-size: 30px;
	}

	.date__p {
		font-size: 16px;
	}

	.hidden__div {
		margin-top: 0;
	}

	.topic__btn {
		margin: 0 1rem;
	}

	.back_btn {
		margin-left: 0;
	}

	.scroll__div {
		bottom: 2rem;
		right: 3rem;
	}

	.scroll__btn {
		margin: 0.5rem;
	}
}