
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

</head>
<body id="main">
	<form *ngIf="newTopicMode && userType === 'teacher'" [formGroup]="topicForm" (ngSubmit)="createTopic()">
		<input 
			class="title__input" 
			type="text"
			name="title"
			required
			formControlName="title"
			>
		<div class="hidden__div">
			<label 
			class="hidden__label" 
			for="hide">hidden</label>
			<input 
				type="checkbox"
				class="hidden__input"
				id="hide"
				name="hide"
				formControlName="hidden">
		</div>
		<button 
			type="submit" 
			class="topic__btn"
			[disabled]="!topicForm.valid">Create Topic</button>	
		<button 
			type="button" 
			class="back__btn" (click)="topicMode()">Back</button>		
	</form>
	<button 
		*ngIf="!newTopicMode && userType === 'teacher'"
		type="submit" 
		class="new-topic__btn" (click)="topicMode()">New topic</button>	
	
	<!-- <div *ngIf="userType === 'teacher' || (userType === 'student' && topic.hidden === false)"></div> -->
	<div id="topicId" *ngFor="let topic of topics;  index as i">
		<form *ngIf="i === editIndex && userType === 'teacher'" [formGroup]="editForm" (ngSubmit)="editTopic(topic._id)">
			<input 
				class="title__input" 
				type="text"
				name="title"
				required
				formControlName="title"
				>
			<div class="hidden__div">
				<label 
				class="hidden__label" 
				for="hide">hidden</label>
				<input 
					type="checkbox"
					class="hidden__input"
					id="hide"
					name="hide"
					formControlName="hidden">
			</div>
			<button 
				type="submit" 
				class="topic__btn"
				[disabled]="!editForm.valid">Update</button>	
			<button 
				type="button" 
				class="back__btn" (click)="editIndex = null">Back</button>	
		</form>
		
		<div class="topic__div" >
			<div *ngIf="i !== editIndex ">
				<button 
				*ngIf="userType === 'teacher'"
				type="button" 
				class="add-before__btn" (click)="addBefore(topic)">add before</button>	

				<div class="topics__div" *ngIf="userType === 'teacher' || (userType === 'student' && topic.hidden === false)">
					
					<h1 [ngStyle]="topic.hidden === true && {'color':'grey'}" class="title__p" [id]="'topic'+i">{{ topic.title }}</h1>
					<p class="date__p">{{ topic.createdAt | date: 'd, MMM yyyy' }}</p>
					
					<div class="teacher__btns" *ngIf="userType === 'teacher'">
						<button class="edit__icon" (click)="showEditTopic(topic, i)">
						<fa-icon [icon]="editIcon"></fa-icon></button>
						<button class="delete__icon" (click)="removeTopic(topic._id, i)">
							<fa-icon [icon]="removeIcon"></fa-icon></button>

						<button 
							type="button" 
							class="add-assignment__btn" (click)="showAssignment(topic._id, null)">assignment</button>
						<button 
							type="button" 
							class="add-post__btn" (click)="showPost(topic._id)">post</button>
						<button 
							type="button" 
							class="add-test__btn" (click)="goToCreateTest(topic._id)">test</button>
						<button 
							type="button" 
							class="add-test__btn" (click)="showArticle(topic._id)">article</button>
						<button 
							type="button" 
							class="add-test__btn" (click)="showArticle(topic._id)">folder</button>
					</div>
					
				</div>
			</div>
			<div *ngIf="userType === 'teacher' || (userType === 'student' && topic.hidden === false)">
				<div class="assignments__div" *ngIf="topic.feed && topic.feed.length > 0; else elseBlock">
					<div class="assignment__div" *ngFor="let feedPost of topic.feed; index as postIndex" >
						<span *ngIf="feedPost.fileUrl && !feedPost.maxGrade" class="pdf__icon">
							<span 
								class="pdf__icon" 
								*ngIf="feedPost.fileUrl[feedPost.fileUrl.length - 1] === 'f'">
								<fa-icon [icon]="pdfIcon"></fa-icon>
							</span>
							<span 
								class="word__icon" 
								*ngIf="feedPost.fileUrl[feedPost.fileUrl.length - 2] ===  'c'">
								<fa-icon [icon]="wordIcon"></fa-icon>
							</span>
							<span
								class="powerpoint__icon" 
								*ngIf="feedPost.fileUrl[feedPost.fileUrl.length - 2] ===  'p'">
								<fa-icon [icon]="powerpointIcon"></fa-icon>
							</span>
						</span>

						<span *ngIf="feedPost.fileUrl && !feedPost.maxGrade">
							<span class="assignment__title" (click)="openLink(feedPost.fileUrl, true)">
								{{ feedPost.title }}
							</span>
							<fa-icon 
								*ngIf="userType === 'teacher'"
								(click)="deletePost(i, postIndex, feedPost._id)" class="minus__icon" [icon]="minusIcon">
							</fa-icon>
						</span>

						<span *ngIf="feedPost.link" class="link__icon" >
							<fa-icon [icon]="linkIcon"></fa-icon>
						</span>

						<span *ngIf="feedPost.link" >
							<span class="assignment__title link__icon__title" 
							(click)="openLink(feedPost.link, false)">
								{{ feedPost.title }}</span>
							<fa-icon 
								*ngIf="userType === 'teacher'" 
								(click)="deletePost(i, postIndex, feedPost._id)" class="minus__icon" 
								[icon]="minusIcon">
							</fa-icon>
						</span>

						<div *ngIf="userType === 'teacher' || (userType === 'student' && feedPost.hidden === false)" [ngStyle]="feedPost.parent && {'margin-left': feedPost.marginLeft+'px'}">
							<span *ngIf="feedPost.maxGrade" class="file__icon">
								<fa-icon [icon]="fileIcon"></fa-icon>
							</span>

							<span *ngIf="feedPost.maxGrade" class="assignment__title" [routerLink]="['../assignment/', feedPost._id]"  
							[ngClass]="{'hidden__span': feedPost.hidden}">
								{{ feedPost.title }}
							</span>
							<fa-icon *ngIf="userType === 'teacher' && feedPost.maxGrade" [icon]="arrowDownIcon" (click)="showAssignment(topic._id, feedPost._id)"></fa-icon>
						</div>

						

						<div *ngIf="userType === 'teacher' || (userType === 'student' && feedPost.hidden === false)" (click)="goToTest(topic._id, feedPost._id)">
							<span *ngIf="feedPost.questions" class="test__icon">
								<fa-icon [icon]="testIcon"></fa-icon>
							</span>

							<span *ngIf="feedPost.questions" class="assignment__title">{{ feedPost.title }} 
								<button 
								type="button" 
								*ngIf="userType === 'teacher'"
								class="edit-test__btn" (click)="goToEditTest(topic._id, feedPost._id)">edit</button>
							</span>
						</div>
						
					</div>
				</div>
			</div>
			
			<ng-template #elseBlock>
				<p class="nothing__p">No assignments yet</p>
			</ng-template>
		</div>
		
	</div>

	<div class="scroll__div">
		<button class="scroll__btn">
			<fa-icon (click)="goUp()" [icon]="upIcon"></fa-icon></button> 
		<button class="scroll__btn">
			<fa-icon (click)="goDown()" [icon]="downIcon"></fa-icon></button>
	</div>
</body>

</html>